*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordwrapper{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    perspective: 20px;
    box-shadow: 0.3rem 0.3rem 2rem white;
    border: 2px solid white;
    border-radius: 1rem ;
    padding: 1rem;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(130, 243, 18);
}
#passwordinputfilled{
    color: black;
}
.password_filled{
    display: flex;
    justify-content: space-between;
    height: 2rem;
}
#passwordinputfilled{
    width: 94%;
    height: 100%;
    border-top-left-radius: 1rem ;
    border-bottom-left-radius: 1rem;
    padding-left: 2rem;
    font-size: larger;
    color: chocolate;
}
.passwordlen{
    display: flex;
    justify-content: space-between;
}
#copytag{
    height: 2rem;
}
#copyimage{
    height: 1.4rem;
    width: 2rem;
}
.passrange{
    height: 3rem;
    display: flex;
    align-items: center;
}
#passrangebar{
    width: 100%;
    height: 1rem;
    cursor: pointer;
}
.passopt{
    height: 2rem;
}
.strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.colordiv{
    height: 2rem;
    width: 2rem;
    border-radius: 50% ;
}
.generate_button{
    height: 3rem;
}
#generate_passwordbtn{
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 1rem;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #3b3e41;
    box-shadow: inset 0.5rem 0.5rem 0.5rem 2rem #f2f9ff;
    background-color: transparent;
}
#generate_passwordbtn:hover{
    box-shadow: 0 8px 22px 0 rgba(157, 166, 233, 0.742), 0 4px 6px 0 rgba(122, 134, 208, 0.427);
    color: rgba(255, 255, 255, 0.674);
}
